ConnectionStrings__DefaultConnection=Server=YOUR_SERVER;Database=Omnichannel;User Id=sa;Password=YOUR_PASSWORD;TrustServerCertificate=True;
Jwt__Key=REPLACE_WITH_32PLUS_CHAR_SECRET_KEY
Jwt__Issuer=Omnichannel
Jwt__Audience=Omnichannel.Client
VNPay__TmnCode=YOUR_TMN_CODE
VNPay__HashSecret=YOUR_HASH_SECRET
VNPay__BaseUrl=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPay__ReturnUrl=https://localhost:7111/api/payment/vnpay-return
Frontend__BaseUrl=http://localhost:5173
